<% if (isMonedo !== 'true') { %>
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="footer-top__title">
                    У вас есть вопросы?
                </div>
                <div class="footer-top__info">
                    <a class="link-with-icon" href="tel:74952259063">
                        <img src="/img/icons/phone.svg" alt="">
                        <span>+7 495 225-90-63</span>
                    </a>
                    <div class="text">Пн-Пт 9:00 - 21:00 Мск</div>
                    <div class="text-online">
                        <span class="round"></span>
                        <span>Мы работаем</span>
                    </div>
                </div>
                <div class="footer-top__info">
                    <a class="link-with-icon" href="mailto:info@kredito24.ru">
                        <img src="/img/icons/email.svg" alt="">
                        <span>info@kredito24.ru</span>
                    </a>
                </div>
                <div class="footer-top__info footer-top__info--big">
                    <div class="link-with-icon">
                        <img src="/img/icons/place.svg" alt="">
                        <span>ООО МФК «Монедо»</span>
                    </div>
                    <div class="text">127473, г. Москва, ул. Краснопролетарская, д. 16, стр. 1, этаж 1, пом. X, комн. 13</div>
                </div>
            </div>
            <div class="footer-main">
                <div class="footer-main__column">
                    <a href="#" class="item">О нас</a>
                    <a href="#" class="item">Как погасить заем?</a>
                    <a href="#" class="item">Базовый стандарт</a>
                    <a href="#" class="item">Как это работает?</a>
                    <a href="#" class="item">Инвесторам</a>
                </div>
                <div class="footer-main__column">
                    <a href="#" class="item">Блог</a>
                    <a href="#" class="item">10 Правил Kredito24.ru</a>
                    <a href="#" class="item">Наша комиссия</a>
                    <a href="#" class="item">Итоги СОУТ</a>
                </div>
                <div class="footer-main__column">
                    <a href="#" class="item">Условия предоставления, использования и возврата Займа</a>
                    <a href="#" class="item">Микрозайм: как это работает?</a>
                    <a href="#" class="item">Правила предоставления микрозаймов</a>
                </div>
                <div class="footer-main__column">
                    <a href="#" class="item">FATCA-сертификат-Форма-W-8BEN-E</a>
                    <a href="#" class="item">Вопросы и ответы</a>
                    <a href="#" class="item">Раскрытие информации ООО МФК "Монедо"</a>
                </div>
                <div class="footer-main__column">
                    <a href="#" class="item">Согласие на обработку и передачу персональных данных в БКИ</a>
                    <a href="#" class="item">Свидетельство МФК</a>
                    <a href="#" class="item">Политика конфиденциальности</a>
                </div>
                <div class="footer-main__column">
                    <div class="title">Социальные сети</div>
                     <div class="footer-main__socials">
                         <a href="#">
                             <img src="/img/icons/facebook-gray.svg" alt="">
                         </a>
                         <a href="#">
                             <img src="/img/icons/twitter-gray.svg" alt="">
                         </a>
                         <a href="#">
                             <img src="/img/icons/youtube-gray.svg" alt="">
                         </a>
                     </div>
                </div>
            </div>
            <div class="footer-bottom">
                <a href="#" class="footer-bottom__policy">Политика конфиденциальности</a>
                <a href="#"  class="footer-bottom__monedo">
                    <img src="/img/icons/logo-monedo.svg" alt="">
                </a>
            </div>
        </div>
    </div>


</div>

<!--
<div class="modal-window fade-in catalog-modal" data-modal="catalog-modal" id="catalog-modal">

    <div class="modal-content">
        <div class="container">
            <div class="title-with-filter margin-top-x2">
                <h1 class="h1" id="catalog-filter-title">
                    Нозологии<span class="text-for-search hide">:</span>
                    <span class="count"></span>
                </h1>
                <a href="#" class="close" data-close-modal-button="catalog-modal" data-effect-type="open-modal-fade-effect"><i class="icon-cancel"></i></a>
            </div>
            <div class="filter-search-block margin-top-x2">
                <label class="field field-input item with-search-icon">
                    <input class="input-text placeholder" placeholder="Введите категорию" data-placeholder="Поиск по нозологиям"
                           name="filter-search" id="catalog-filter-search" type="text">
                    <p class="error-message"></p>
                </label>
                <span id="clear-catalog-search" class="filter-clear-search">Отмена</span>
            </div>

            <div class="filter-item filter-item__main">
                <input type="checkbox" id="filter-select-all" name="filter-select-all" checked>
                <label class="" for="filter-select-all">
                    <span>Выбрать все</span>
                </label>
            </div>

            <form action="" id="catalog-filter-form">
                <div class="catalog-categories-list" id="catalog-categories-list">
                    <div class="letter-item">
                        <span class="letter">А</span>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-1" name="filter-1" checked>
                            <label class="" for="filter-1">
                                <span>Аменореи</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-2" name="filter-2" checked>
                            <label class="" for="filter-2">
                                <span>Аменореи</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-3" name="filter-3" checked>
                            <label class="" for="filter-3">
                                <span>Аменореи</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-4" name="filter-4" checked>
                            <label class="" for="filter-4">
                                <span>Аменореи</span>
                            </label>
                        </div>
                    </div>

                    <div class="letter-item">
                        <span class="letter">Б</span>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-12" name="filter-12" checked>
                            <label class="" for="filter-12">
                                <span>Бактериальный</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-22" name="filter-22" checked>
                            <label class="" for="filter-22">
                                <span>Бактериальный</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-32" name="filter-32" checked>
                            <label class="" for="filter-32">
                                <span>Бактериальный</span>
                            </label>
                        </div>
                        <div class="filter-item">
                            <input type="checkbox" id="filter-42" name="filter-42" checked>
                            <label class="" for="filter-42">
                                <span>Бактериальный</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="text-align-center">
                    <div class="button hide" id="catalog-filter-btn" data-close-modal-button="catalog-modal" data-effect-type="open-modal-fade-effect">Показать </div>
                    <p id="catalog-filter-text" class="hide">Ничего не найдено</p>
                </div>
            </form>
        </div>

    </div>
</div>
-->

<div class="modal-window-pxl"></div>
<% } %>

<script defer src="js/bundle.js?v=5"></script>

</body>
</html>
