<% var data = { title: "Все об онлайн займах на карту | Kredito 24", isMonedo: "false" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section page-header page-header__with-bg" style="background-image: url(./img/articles/1.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="page-header__breadcrumbs ">
            <a class="item" href="/">Главная</a>
            <a class="item" href="/">Все об онлайн займах на карту</a>
            <span class="item">Какие витамины нужны осенью</span>
        </div>
        <div class="page-header__title">
            <a class="page-header__title-back" href="#"></a>
            <h3 class="page-header__title-text">Все об онлайн займах на карту</h3>
        </div>
    </div>
</section>

<div class="section section-bg interior-page">
    <div class="container">
        <div class="interior-page__wrap">
            <div class="interior-main">
                <div class="content">
                    <div class="articles-detail">
                        <p>
                            Сколько бы свежих фруктов и овощей вы ни ели летом, на весь год витаминами запастись невозможно. Организм постоянно в них нуждается. Август и теплый сентябрь — самое подходящее время, чтобы укрепить свой иммунитет дополнительным приемом витаминных комплексов. И особенно это важно для детей — впереди детский сад или школа, где значительно возрастает риск «подхватить» сезонную ОРВИ.
                        </p>
                        <h6 class="h6">Витамин С (аскорбиновая кислота)</h6>

                        <p>
                            Это один из главных защитников иммунитета. Антиоксидант, который укрепляет сердечно-сосудистую систему человека, «следит» за уровнем железа в крови, влияет на активность и эмоциональное состояние.
                        </p>
                        <p>
                            Аскорбиновая кислота в большом количестве содержится в цитрусовых, черной смородине, квашеной капусте, сладком и остром перце, шпинате, облепихе, чесноке.
                        </p>
                        <p>
                            Витамин С при длительной термической обработке разрушается. Поэтому обогатить рацион питания аскорбиновой кислотой в нужном объеме не всегда получается. И тут на помощь в укреплении иммунитета может прийти шипучий витамин С. Носите дополнительный источник витамина С в сумочке.
                        </p>
                        <p>
                            При приеме витаминных комплексов аскорбиновую кислоту лучше сочетать с витамином Е, который становится для нестабильного вещества антиокислителем.
                        </p>

                        <h6 class="h6">Витамин D</h6>
                        <p>
                            Пасмурной осенью солнечного света будет все меньше, а ведь он крайне важен для синтеза витамина D в организме. Вот почему с наступлением холодов врачи рекомендуют дополнительный его прием. В особенности — детям. Витамин D способствует укреплению иммунитета и костной системы, помогает снизить нервозность и постоянное ощущение усталости.
                        </p>
                        <p>
                            Дополнительными источниками витамина D могут стать молочные продукты, жирная рыба и яйца. Но в продуктах содержится плохо усвояемая форма вещества — витамин D2. Гораздо эффективнее оказывается витамин D3 — «солнечный», как его еще называют. Поступая в организм, он под действием солнца «превращается» в витамин D. Именно это вещество будет содержаться в аптечных витаминных комплексах.
                        </p>
                        <p>
                            Выбирая препараты для дополнительного укрепления иммунитета, лучше обращать внимание на водные растворы витамина D3. В такой форме полезные вещества быстрее и лучше всасываются в ткани, чем масляные растворы.
                        </p>
                        <h6 class="h6">Витамин D</h6>
                        <p>
                            Пасмурной осенью солнечного света будет все меньше, а ведь он крайне важен для синтеза витамина D в организме. Вот почему с наступлением холодов врачи рекомендуют дополнительный его прием. В особенности — детям. Витамин D способствует укреплению иммунитета и костной системы, помогает снизить нервозность и постоянное ощущение усталости.
                        </p>
                        <p>
                            Дополнительными источниками витамина D могут стать молочные продукты, жирная рыба и яйца. Но в продуктах содержится плохо усвояемая форма вещества — витамин D2. Гораздо эффективнее оказывается витамин D3 — «солнечный», как его еще называют. Поступая в организм, он под действием солнца «превращается» в витамин D. Именно это вещество будет содержаться в аптечных витаминных комплексах.
                        </p>
                        <p>
                            Выбирая препараты для дополнительного укрепления иммунитета, лучше обращать внимание на водные растворы витамина D3. В такой форме полезные вещества быстрее и лучше всасываются в ткани, чем масляные растворы.
                        </p>
                    </div>
                    <h5 class="h5 margin-top margin-bottom">Похожие записи</h5>
                    <div class="articles-block">
                        <a href="" class="item">
                            <div class="img" style="background-image: url(./img/articles/1.jpg)"></div>
                            <div class="info">
                                <div class="category">Статьи о ЗОЖ</div>
                                <div class="title">Какие витамины нужны осенью</div>
                                <div class="text">Сколько бы свежих фруктов и овощей вы ни ели летом, на весь год витаминами запастись невозможно. Организм постоянно в них нуждается. Август и теплый сентябрь — самое подходящее время, чтобы укрепить свой иммунитет дополнительным приемом витаминных комплексов. И особенно это</div>
                                <div class="read-more">Читать дальше…</div>
                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="img" style="background-image: url(./img/articles/2.jpg)"></div>
                            <div class="info">
                                <div class="category">Статьи о ЗОЖ</div>
                                <div class="title">8 способов укрепить иммунитет</div>
                                <div class="text">Эпидемия – самое время позаботиться об иммунитете. Конечно, для того, чтобы оставаться в строю, необходимо заниматься спортом и обеспечить себе полноценный отдых. Однако не менее важно и питание. Врачи единогласно утверждают, что для крепкого здоровья нужно хорошо, правильно и разнообразно</div>
                                <div class="read-more">Читать дальше…</div>
                            </div>
                        </a>
                        <a href="" class="item">
                            <div class="img" style="background-image: url(./img/articles/3.jpg)"></div>
                            <div class="info">
                                <div class="category">Статьи о ЗОЖ</div>
                                <div class="title">Лучшие игры для социализации во время карантина</div>
                                <div class="text">Кризис, рецессия, изоляция, карантин – в 2020 году не думать о грустном ну очень тяжело. И даже друзья и любимые далеко не всегда рядом, ведь правительства многих стран настоятельно рекомендуют нам изолироваться от всего остального мира. В такие моменты эскапизм</div>
                                <div class="read-more">Читать дальше…</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="interior-mobile">
                    <button class="see-more">Показать больше</button>
                </div>
            </div>
            <div class="interior-calc">
                <div class="calculator calculator-small" data-settings='{"default":{"price":10000,"term":29},"values":{"minPrice":2000,"maxPrice":15000,"minTerm":16,"maxTerm":30}}' id="calculator">
                    <form action="" id="calculator-form">
                        <h4 class="h4 text-align-center margin-bottom">Получите деньги за 15 минут</h4>

                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">Хочу взять</span>
                                <div class="input-wrap">
                                    <input class="input-money" id="calculator-input" type="text">
                                    <input class="input-money" id="calculator-range-value" hidden type="text">
                                    <span>₽</span>
                                </div>
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_sum_range" type="text" value=""/>
                        </div>
                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">На срок</span>
                                <span id="calculator-term">29 дней</span>
                                <input hidden id="calculator-term-input" type="text">
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_term_range" type="text" value=""/>
                        </div>
                        <a href="" class="button" id="calculator-send-btn">Получить деньги</a>

                        <div class="calculator-summary">
                            <div class="item">
                                <span>Сумма займа</span>
                                <span id="calculator-sum-get">10 000 ₽</span>
                                <input type="text" id="calculator-sum-get__input" hidden>
                            </div>
                            <div class="item">
                                <span>Срок</span>
                                <span id="calculator-sum-term">29 дней</span>
                                <input type="text" id="calculator-sum-term__input" hidden>
                            </div>
                            <div class="item">
                                <span>Сумма к погашению</span>
                                <span id="calculator-sum-total">12 900 ₽</span>
                                <input type="text" id="calculator-sum-total__input" hidden>
                            </div>
                            <div class="item">
                                <span>До</span>
                                <span id="calculator-sum-date">25.11.2020</span>
                                <input type="text" id="calculator-sum-date__input" hidden>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
