<% var data = { title: "Как это работает | Kredito 24", isMonedo: "false" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section page-header">
    <div class="container">
        <div class="page-header__breadcrumbs ">
            <a class="item" href="/">Главная</a>
            <span class="item">Микрозайм: как это работает?</span>
        </div>
        <div class="page-header__title">
            <a class="page-header__title-back" href="#"></a>
            <h3 class="page-header__title-text">Микрозайм: как это работает?</h3>
        </div>
    </div>
</section>

<div class="section section-bg interior-page">
    <div class="container">
        <div class="interior-page__wrap">
            <div class="interior-main">
                <div class="content">
                    <p>
                        Нужно срочно оплатить счета? Штраф? Незапланированный ремонт автомобиля? Неважно, на что именно потребовались дополнительные средства, c Kredito24.ru вы можете получить до
                        15000 руб не выходя из дома. Благодаря инновационной автоматизированной системе анализа заявки Kredito24.ru доступно 24 часа в сутки 7 дней в неделю. Вам не придется
                        беспокоиться о скрытых расходах и неожиданных платежах.


                    </p>
                    <p>
                        Мы ценим наших постоянных клиентов, возвращающихся за повторным займом. Наш займ не является целевым, поэтому мы не спрашиваем, на что именно требуются деньги. Наша комиссия
                        едина для всех, независимо от образования, возраста и прочих факторов.
                    </p>
                    <h6 class="h6 margin-top">1. Выберите сумму и срок займа</h6>
                    <img src="/img/how/1.jpg" alt="" class="interior-image">
                    <p>
                        Kredito24.ru предоставляет возможность вам определить, сколько средств вы желаете занять и на какой срок. Воспользуйтесь одним слайдером для определения суммы займа, другим -
                        для определения срока. Если вы пользуетесь нашими услугами в первый раз, заполните анкету. Если вы уже наш клиент, и погасили вовремя свой первоначальный займ, то у вас есть
                        возможность сэкономить свое время, подав заявку снова через свой личный кабинет. Тот факт, что вы уже наш клиент, добросовестно исполняющий свои обязательства, увеличивает наш
                        уровень доверия, и вероятность положительного решения.Однако помните, что погашенный вовремя первоначальный займ не является гарантией положительного повторного решения
                        решения, хотя и существенно увеличивает процент одобрения.
                    </p>
                    <h6 class="h6 margin-top">2. Оформление заявки</h6>
                    <img src="/img/how/2.jpg" alt="" class="interior-image">
                    <p>
                        Наша независимая автоматизированная система вынесет решение о выдаче займа незамедлительно. Всего через несколько минут после отправки анкеты на обработку вы будете знать
                        решение по заявке.
                    </p>
                    <h6 class="h6 margin-top">3. Идентификация заемщика и проверка банковской карты</h6>
                    <img src="/img/how/3.jpg" alt="" class="interior-image">
                    <p>
                        Для того, чтобы убедиться, что именно вы являетесь владельцем банковского счета, на который мы собираемся перевести заём, мы на несколько минут заблокируем сумму размером до 10
                        рублей (в редких случаях возможна задержка возврата заблокированной суммы до 24 часов). Получив уведомление из вашего банка по СМС или другим способом, вы будете знать, какая
                        сумма была заблокирована. Если у вас не подключена услуга CМС уведомлений, вы можете проверить баланс через интернет-банк или просто позвонив по телефону горячей линии вашего
                        банка. В процессе заполнения заявки на заём нужно будет ввести эту сумму в указанное поле. Данная мера необходима для безопасности и проверки правильности введенных данных.
                        Данная процедура очень проста и не занимает много времени, а вся сумма уже через несколько минут возвращается на счет карты.
                    </p>
                    <h6 class="h6 margin-top">4. Перевод средств после одобрения</h6>
                    <img src="/img/how/4.jpg" alt="" class="interior-image">
                    <p>
                        После принятия положительного решения по займу, отправки копий паспорта, а также подписания договора электронной подписью посредством кода из СМС, деньги незамедлительно будут
                        переведены на ваш счет. Поступление средств после отправки зависит от вашего банка, однако, как правило, занимает не долее 15 минут. Сравните удобство наших займов с кредитами,
                        предоставляемыми банками. Чаще всего банки требуют личного присутствия и большое количество документов. Обработка заявки на заём занимает минимум 3-4 дня. С Kredito24.ru деньги
                        на вашем счету могут быть уже сегодня! Скорость и удобство являются нашими абсолютными приоритетами.
                    </p>
                    <h6 class="h6 margin-top">5. Выберите вариант погашения займа</h6>
                    <ol class="interior-list">
                        <li><span>Банковским переводом</span></li>
                        <li><span>Через личный кабинет, выбрав опцию “оплата</span>”</li>
                        <li><span>Оплатить через киви-кошелек</span></li>
                        <li><span>Оплата с помощью терминалов Элекснет</span></li>
                    </ol>
                    <p>
                        Обратите внимание, что досрочное погашение займа возможно в любое время. Читайте одробнее о том, как погасить заём.
                    </p>
                </div>
                <div class="interior-mobile">
                    <button class="see-more">Показать больше</button>
                </div>
            </div>
            <div class="interior-calc">
                <div class="calculator calculator-small" data-settings='{"default":{"price":10000,"term":29},"values":{"minPrice":2000,"maxPrice":15000,"minTerm":16,"maxTerm":30}}' id="calculator">
                    <form action="" id="calculator-form">
                        <h4 class="h4 text-align-center margin-bottom">Получите деньги за 15 минут</h4>

                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">Хочу взять</span>
                                <div class="input-wrap">
                                    <input class="input-money" id="calculator-input" type="text">
                                    <input class="input-money" id="calculator-range-value" hidden type="text">
                                    <span>₽</span>
                                </div>
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_sum_range" type="text" value=""/>
                        </div>
                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">На срок</span>
                                <span id="calculator-term">29 дней</span>
                                <input hidden id="calculator-term-input" type="text">
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_term_range" type="text" value=""/>
                        </div>
                        <a href="" class="button" id="calculator-send-btn">Получить деньги</a>

                        <div class="calculator-summary">
                            <div class="item">
                                <span>Сумма займа</span>
                                <span id="calculator-sum-get">10 000 ₽</span>
                                <input type="text" id="calculator-sum-get__input" hidden>
                            </div>
                            <div class="item">
                                <span>Срок</span>
                                <span id="calculator-sum-term">29 дней</span>
                                <input type="text" id="calculator-sum-term__input" hidden>
                            </div>
                            <div class="item">
                                <span>Сумма к погашению</span>
                                <span id="calculator-sum-total">12 900 ₽</span>
                                <input type="text" id="calculator-sum-total__input" hidden>
                            </div>
                            <div class="item">
                                <span>До</span>
                                <span id="calculator-sum-date">25.11.2020</span>
                                <input type="text" id="calculator-sum-date__input" hidden>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>
