<% var data = { title: "Monedo | Kredito 24", isMonedo: "true"}; %> <%= _.template(require('./../includes/header.html').default)(data) %>

<div class="monedo-preloader"></div>
<div class="monedo-page">
    <div class="monedo-header">
        <div class="container">
            <div class="monedo-header__wrap">
                <a class="logo" href="/">
                    <img alt="" src="/img/monedo/logo.svg">
                </a>
                <a class="logo-color" href="/">
                    <img alt="" src="/img/monedo/logo-color.svg">
                </a>
                <a class="phone" href="tel:74993993245">
                    +7 (499) 399 32 45 <span>(Пн-Пт 11:00 - 19:00 Мск)</span>
                </a>
                <a class="btn" href="#">
                    Свяжитесь со мной
                </a>
                <div class="burger">
                    <span></span>
                </div>
            </div>

        </div>

    </div>
    <div class="monedo-menu">
        <div class="container">
            <div class="monedo-header__margin"></div>
            <nav>
                <a href="#monedo-form-block">Обратная связь</a>
                <a href="#monedo-faq">FAQ</a>
                <a href="#monedo-about">О компании</a>
                <a href="#monedo-media">СМИ о нас</a>
                <a href="https://www.kredito24.ru/">Сайт Kredito24</a>
            </nav>
            <div class="monedo-footer monedo-footer__black">
                <div class="top">
                    <div class="left">
                        <span>По вопросам инвестирования обращайтесь:</span>
                        <a href="mailto:investors@kredito24.ru">
                            <img class="img-white" alt="" src="/img/monedo/email-white.svg">
                            <img class="img-black" alt="" src="/img/monedo/email-black.svg">
                            <span>investors@kredito24.ru</span>
                        </a>
                    </div>
                    <div class="right">
                        <span>Социальные сети:</span>
                        <a href="/">
                            <img class="img-white" alt="" src="/img/monedo/twitter-white.svg">
                            <img class="img-black" alt="" src="/img/monedo/twitter-blue.svg">
                        </a>
                        <a href="/">
                            <img class="img-white" alt="" src="/img/monedo/fb-white.svg">
                            <img class="img-black" alt="" src="/img/monedo/fb-blue.svg">
                        </a>
                    </div>
                </div>
                <div class="bottom">
                    <div class="left">
                        <div class="margin-bottom-x2">
                            ООО МФК «Монедо», Россия, 127473, г. Москва, ул. Краснопролетарская, д. 16, стр. 1, этаж 1, пом. X, комн. 13
                        </div>
                        <div>
                            © 2020 Монедо ® | <a href="#">Политика конфиденциальности</a>
                        </div>
                    </div>
                    <div class="right">
                        <a class="btn" href="#">Подробнее о Kredito24</a>
                        <a class="logo" href="/">
                            <img alt="" src="/img/monedo/logo.svg">
                        </a>
                        <a class="logo logo-color" href="/">
                            <img alt="" src="/img/monedo/logo-color.svg">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section class="monedo-main " id="monedo-main" style="background-image: url(/img/monedo/bg.jpg)">
        <div class="content animate-block">
            <h1 class="section-title">Инвестиции в Монедо</h1>
            <p class="subtitle">Высокая процентная ставка и гарантированный доход</p>
            <div class="calculator calculator-monedo" data-settings='{"default":{"price":1500000},"values":{"minPrice":1500000,"maxPrice":10000000}}' id="calculator-monedo">

                    <h4 class="h4 text-align-center margin-bottom">ИНВЕСТИРОВАТЬ</h4>

                    <div class="calculator-item">
                        <div class="top">
                            <span class="text">Инвестировать</span>
                            <div class="input-wrap">
                                <input class="input-money" id="calculator-input" type="text">
                                <input class="input-money" id="calculator-range-value" hidden type="text">
                                <span>₽</span>
                            </div>
                        </div>
                        <div class="calculator-min">1 год</div>
                        <div class="calculator-max">30 лет</div>
                        <input class="js-range-slider" name="mortgage_sum_range" type="text" value=""/>
                    </div>

                    <div class="calculator-monedo__term">
                        <span>на</span>
                        <div class="item active" data-term="9" data-percent="15">
                            <span>9</span>
                        </div>
                        <div class="item" data-term="12" data-percent="16">
                            <span>12</span>
                        </div>
                        <div class="item" data-term="18" data-percent="14">
                            <span>18</span>
                        </div>
                        <div class="item" data-term="24" data-percent="14">
                            <span>24</span>
                        </div>
                        <span>месяцев</span>


                    </div>
                    <div class="calculator-monedo__summary">
                        <div class="item">
                            <span>Процентная ставка:</span>
                            <span class="num" id="calculator-monedo-percent__text">15% *</span>

                        </div>
                        <div class="item">
                            <span>Ваш доход:</span>
                            <span class="num" id="calculator-monedo-income__text">168 750 ₽</span>

                        </div>
                        <div class="info">
                            * - % до уплаты НДФЛ
                        </div>
                    </div>

                    <a href="#monedo-form-block" class="btn btn-white" type="submit">Свяжитесь со мной</a>


            </div>
            <div class="certificate">
                <a href="/">Свидетельство ЦБ РФ</a>
            </div>
        </div>
    </section>
    <section class="monedo-form" id="monedo-form-block">
        <div class="container">
            <div class="content animate-block">
                <h2 class="section-title black-title text-align-center">Связаться</h2>
                <form action="" class="form" id="monedo-form">
                    <label class="field field-input">
                        <input class="input-text placeholder validate" placeholder="Ваше имя" data-placeholder="Ваше имя" data-validate="required" id="call-feedback_name"
                               name="f_name" type="text">
                        <p class="error-message"></p>
                    </label>
                    <label class="field field-input field-with-icon">
                        <input class="input-text placeholder validate input-mask" data-mask_tpl="phone_plus7" data-placeholder="Номер телефона" data-validate="number_phone-required" id="call-feedback_phone"
                               name="f_phone" type="text" value="" inputmode="text">
                        <img src="/img/monedo/russia.svg" class="icon" alt="">
                        <p class="error-message"></p>
                    </label>
                    <label class="field field-input ">
                        <input class="input-text placeholder validate input-mask" data-placeholder="Ваш email" placeholder="mail@example.ru" data-validate="email"
                               name="f_email" type="text" value="" inputmode="text">
                        <p class="error-message"></p>
                    </label>
                    <div class="policy">
                        <input type="checkbox" name="f_policy" id="monedo-form_policy">
                        <label for="monedo-form_policy">
                            Я прочитал и принимаю <a href="#">политику
                            конфиденциальности</a>
                        </label>
                        <p class="error-message"></p>
                    </div>

                    <input type="text" value="9" name="f_term" hidden id="calculator-monedo-term">
                    <input type="text" hidden name="f_percent" id="calculator-monedo-percent">
                    <input type="text" hidden name="f_income" id="calculator-monedo-income">
                    <input type="text" hidden name="f_sum" id="calculator-monedo-sum">
                    <input type="text" hidden name="cc" value="78">

                    <button type="submit" class="btn btn-blue btn-width">Свяжитесь со мной</button>

                    <div class="monedo-form-message" id="monedo-form-message">
                        <div class="content">
                            <span class="close monedo-close"></span>
                            <h2 class="title"></h2>
                            <div class="text">

                            </div>
                            <a href="" class="btn btn-blue monedo-close">Закрыть</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </section>
    <section id="monedo-faq" class="monedo-faq ">
        <div class="container animate-block">
            <h2 class="section-title text-align-center margin-bottom">FAQ</h2>

            <div class="info__wrap info__wrap-monedo">
                <div class="item">
                    <div class="top">
                        <span class="h6">Кто может инвестировать?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                Граждане РФ
                            </li>
                            <li>
                                Физические лица или индивидуальные предприниматели
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Что нужно, чтобы инвестировать?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                Связаться с нами, используя форму обратной связи или позвонив по телефону <b><a href="tel:74993993245">+7 (499) 399 32 45</a></b>, указав желаемую сумму и срок
                                инвестирования.
                            </li>
                            <li>
                                Ознакомиться с нашими условиями, изучив Договор.
                            </li>
                            <li>
                                Мы поможем выбрать инвестиционный план и обсудим условия, исходя из срока и суммы инвестиций.
                            </li>
                            <li>
                                Проценты выплачиваются ежемесячно, в последний рабочий день месяца, без капитализации. Сумма займа будет возвращена в конце инвестиционного периода.
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="item">
                    <div class="top">
                        <span class="h6">Какая минимальная сумма для инвестирования?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>Согласно российскому законодательству, минимальная сумма инвестиций равна 1 500 000,00 руб</p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Могу ли я увеличить сумму инвестиций?
</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>Да. Однако, минимальная сумма дополнительного вклада должна составлять не менее 500 000 руб.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Какие условия для индивидуальных предпринимателей?
</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>Для ИП годовая процентная ставка снижается на 1%, в связи с тем, что ИП самостоятельно выплачивает налоги.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Кто платит налоги?
</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>
                            Если вы инвестируете как физическое лицо, то мы за вас платим налоги. Также по запросу мы предоставляем справку 2-НДФЛ за желаемый период. <br>
                            Если вы инвестируете, как ИП, то обязанности по уплате НДФЛ остаются за вами.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Где я могу посмотреть отчетность?
</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>
                            Всю опубликованную отчетность вы можете найти <a href="/">здесь</a>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Станьте нашим Агентом!</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <p>
                            Вы хотите заработать, и у вас есть знакомые, друзья, родственники, которые хотят инвестировать? В “Монедо” открыта агентская программа по привлечению инвесторов! <br>
                            За дополнительной информацией обращайтесь к нам по телефону <b><a href="tel:74993993245">+7 (499) 399 32 45</a></b>  или заполните форму обратной связи.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="top">
                        <span class="h6">Как изменить реквизиты в уже действующем договоре?</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </div>
                    <div class="content">
                        <ul>
                            <li>
                                Если у вас сменился паспорт или место регистрации, заполните “<a href="/">Заявление на смену персональных данных</a>” и отправьте на нашу почту <a
                                    href="mailto:investors@kredito24.ru">investors@kredito24.ru</a> , прикрепив актуальные сканы вашего
                                паспорта.
                            </li>
                            <li>
                                Если вы хотите изменить банковские реквизиты, по которым происходит выплата процентов, заполните “<a href="/">Заявление на смену реквизитов</a>” и отправьте на нашу почту <a
                                    href="mailto:investors@kredito24.ru">investors@kredito24.ru</a>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="monedo-about" class="monedo-about ">
        <div class="container animate-block">
            <h2 class="section-title text-align-center margin-bottom">О компании</h2>
            <p class="section-subtitle">
                Компания ООО МФК “Монедо” является частью немецкого холдинга Monedo Holding GmbH (ранее Kreditech Holding SSL GmbH), работающего в сфере финансовых услуг с 2012 года. Российское подразделение специализируется на выдаче онлайн микрозаймов, а также работает над запуском среднесрочных займов для физических лиц.
            </p>
            <div class="monedo-slider__wrap">
                <div class="monedo-about__list" id="monedo-about__list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/icon1.svg" alt="" class="icon">
                                <div class="title">Big Data</div>
                                <div class="text">Проверка платежеспособности клиентов происходит на основе технологий Big Data с использованием скоринговых моделей собственной разработки, опробованных в четырех странах (Индия, Испания, Польша и Россия)</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/icon2.svg" alt="" class="icon">
                                <div class="title">Доходность</div>
                                <div class="text">Наша модель гибко настраивается под любые условия, чтобы гарантировать высокую доходность бизнеса, оставаясь в рамках действующего законодательства и регуляторных требований Центрального банка России</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/icon3.svg" alt="" class="icon">
                                <div class="title">Эффективность</div>
                                <div class="text">Мы эффективно используем все ресурсы в нашем распоряжении, что позволяет нам быть одним из лидеров рынка по части минимизации затрат на операционную и иную деятельность при высоких показателях объема портфеля микрозаймов</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                </div>
                <div class="swiper-button swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                </div>
            </div>

            <div class="monedo-about__bottom">
                <a href="#" class="item">
                    <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </span>
                    <span class="text">Презентация</span>
                </a>
                <a href="" class="item">
                    <span class="arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                    </span>
                    <span class="text">Отчеты о работе компании</span>
                </a>
            </div>
        </div>
    </section>
    <section id="monedo-media" class="monedo-media ">
        <div class="container animate-block">
            <h2 class="section-title black-title text-align-center margin-bottom">СМИ о нас</h2>
            <div class="monedo-media__slider-wrap">
                <div class="monedo-media__slider" id="monedo-media__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/media-logo-1.png" alt="" class="logo">
                                <div class="text">
                                    а счет запатентованной технологии Big Data Algorithms в прошлом году прибыль «Кредитех Рус» составила 41 млн. евро, увеличившись на 96% по сравнению с 2014 годом. Целевой прирост доходности компании на ближайшие три года ожидается на уровне 100%.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/media-logo-1.png" alt="" class="logo">
                                <div class="text">
                                    а счет запатентованной технологии Big Data Algorithms в прошлом году прибыль «Кредитех Рус» составила 41 млн. евро, увеличившись на 96% по сравнению с 2014 годом. Целевой прирост доходности компании на ближайшие три года ожидается на уровне 100%.
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/img/monedo/media-logo-1.png" alt="" class="logo">
                                <div class="text">
                                    а счет запатентованной технологии Big Data Algorithms в прошлом году прибыль «Кредитех Рус» составила 41 млн. евро, увеличившись на 96% по сравнению с 2014 годом. Целевой прирост доходности компании на ближайшие три года ожидается на уровне 100%.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button blue swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                </div>
                <div class="swiper-button blue swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" ><path fill-rule="nonzero" d="M.75 6.74h11.69l-4.02 4c-.3.28-.3.75 0 1.04.29.3.76.3 1.06 0l5.3-5.25a.74.74 0 00.1-.12l.03-.06.03-.07.03-.07.02-.06L15 6l-.01-.15-.02-.06-.03-.07c0-.03-.02-.05-.04-.08 0-.02-.01-.03-.03-.05a.74.74 0 00-.09-.12L9.48.22a.75.75 0 00-1.06 0c-.3.29-.3.76 0 1.05l4.02 3.99H.75A.75.75 0 000 6c0 .41.34.74.75.74z"></path></svg>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <div class="monedo-footer ">
        <div class="container">
            <div class="top">
                <div class="left">
                    <span>По вопросам инвестирования обращайтесь:</span>
                    <a href="mailto:investors@kredito24.ru">
                        <img alt="" src="/img/monedo/email-white.svg">
                        <span>investors@kredito24.ru</span>
                    </a>
                </div>
                <div class="right">
                    <span>Социальные сети:</span>
                    <a href="/">
                        <img alt="" src="/img/monedo/twitter-white.svg">
                    </a>
                    <a href="/">
                        <img alt="" src="/img/monedo/fb-white.svg">
                    </a>
                </div>
            </div>
            <div class="bottom">
                <div class="left">
                    <div class="margin-bottom-x2">
                        ООО МФК «Монедо», Россия, 127473, г. Москва, ул. Краснопролетарская, д. 16, стр. 1, этаж 1, пом. X, комн. 13
                    </div>
                    <div>
                        © 2020 Монедо ® | <a href="#">Политика конфиденциальности</a>
                    </div>
                </div>
                <div class="right">
                    <a class="btn" href="#">Подробнее о Kredito24</a>
                    <a class="logo" href="/">
                        <img alt="" src="/img/monedo/logo.svg">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>

