<% var data = { title: "Вопросы и ответы | Kredito 24" }; %> <%= _.template(require('./../includes/header.html').default)(data) %>

<section class="section page-header page-header__with-bg" style="background-image: url(/img/pages/header-bg-1.png)">
    <div class="container">
        <div class="page-header__breadcrumbs ">
            <a class="item" href="/">Главная</a>
            <span class="item">Вопросы и ответы</span>
        </div>
        <div class="page-header__title">
            <a class="page-header__title-back" href="#"></a>
            <h3 class="page-header__title-text">Вопросы и ответы</h3>
        </div>
    </div>
</section>

<div class="section section-bg interior-page">
    <div class="container">
        <div class="interior-page__wrap">
            <div class="interior-main">
                <div class="content">
                    <img src="/img/icons/quotes.svg" alt="">
                    <p class="margin-top">
                        Уважаемые клиенты, если вы оформляли займ до 1 февраля 2020 года или у вас не было открытого займа на 1 февраля 2020 года, чтобы получить новый или очередной заем, пожалуйста,
                        заполните анкету на главной странице. Повторные клиенты, как обычно, получат максимальную вероятность одобрения.
                    </p>
                    <div class="info__wrap">
                        <div class="item">
                            <div class="top">
                                <span class="h6">1. COVID-19 (Коронавирус)</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    1.1 Я заболел коронавирусом COVID-19 и не могу оплатить займ в срок. Как я могу перенести срок возврата займа?
                                </p>
                                <p>
                                    Если вы заболели COVID-19 и не можете погасить займ в срок, направьте на почту <a href="mailto:info@kredito24.ru">info@kredito24.ru</a> запрос о предоставлении
                                    кредитных каникул (реструктуризации). В качестве причины
                                    следует указать заболевание COVID-19, к запросу необходимо приложить подтверждающую факт заболевания копию справки.
                                </p>
                                <p>
                                    По итогам проверки предоставленных документов будет подключена услуга “Кредитные каникулы”: отсрочка платежа составит 1 месяц без внесения негативных записей в
                                    кредитную историю. Ежедневная процентная ставка за пользование займом будет снижена более, чем на треть, и составит 0,635% в день. Штрафы за неисполнение или
                                    ненадлежащее исполнение заемщиком обязательств по возврату займа не будут начисляться.
                                </p>
                                <p>
                                    Обратите внимание, что в случае выявления факта фальсификации документов, подтверждающих заболевание COVID-19, кредитные каникулы не будут предоставлены, штрафы и
                                    проценты будут начислены в соответствии с изначальным договором займа.
                                </p>
                                <p class="body18 bold-text">
                                    1.2 Я лишился дохода и не могу выплатить займ. Что мне делать?
                                </p>
                                <p>
                                    Если вы заключили договор потребительского займа до 2 апреля 2020 года включительно, то вы можете обратиться по телефону или электронной почте <a
                                        href="mailto:info@kredito24.ru">info@kredito24.ru</a> с требованием о
                                    предоставлении льготного периода в соответствии с Федеральным законом от 03.04.2020 N 106-ФЗ “О внесении изменений в Федеральный закон “О Центральном банке
                                    Российской Федерации (Банке России)” и отдельные законодательные акты Российской Федерации в части особенностей изменения условий кредитного договора, договора
                                    займа”.
                                </p>
                                <p>
                                    Обращение с требованием о предоставлении льготного периода возможно по 30 сентября 2020 включительно. Для получения льготного периода, доход Заемщика должен
                                    уменьшиться более, чем на 30%, за месяц, предшествующий направлению в МФК требования о предоставлении льготного периода, по сравнению со среднемесячным доходом
                                    Заемщика за 2019 год Документально подтвердить факт снижения дохода необходимо за 90 дней после дня представления требования в обязательном порядке.
                                </p>
                                <p>Условия:</p>
                                <ul>
                                    <li>Срок льготного периода не может превышать 6 месяцев.</li>
                                    <li>Дата требования Клиента о предоставлении льготного периода является датой начала льготного периода.</li>
                                    <li>Досрочное погашение займа в течение льготного периода возможно, но не освобождает Заемщика от предоставления документов, подтверждающих сокращение дохода.</li>
                                    <li>В кредитной истории займ будет иметь статус: “На кредитных каникулах”.</li>
                                    <li>
                                        В льготный период штрафы и пени не начисляются. Процент за пользование займом составит две трети от рассчитанного Банком России в соответствии с частью 8 статьи
                                        6 Федерального закона от 21 декабря 2013 года № 353-ФЗ «О потребительском кредите (займе)» среднерыночного значения полной стоимости потребительского кредита
                                        (займа) в процентах годовых, установленного на день направления заемщиком требования.
                                    </li>
                                    <li>
                                        Сумма процентов, неустойки (штрафа, пени) за неисполнение или ненадлежащее исполнение заемщиком обязательств по возврату займа, не уплаченная заемщиком до
                                        установления льготного периода, фиксируется на день установления льготного периода.
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="item">
                            <div class="top">
                                <span class="h6">2. Безопасность</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    2.1 Где гарантии, что вы не мошенники?
                                </p>
                                <p>
                                    ООО МФК “Монедо”, владелец бренда Kredito24, занесена в официальный реестр микрофинансовых организаций Центрального банка России под номером: 651303552003006.
                                </p>
                                <p>
                                    Мы работаем в строгом соответствии с требованиями регулятора. Учитывая особое внимание Центробанка ко всем МФО, любые выявленные нарушения быстро пресекаются.
                                    Являясь одной из крупнейших компаний в России, мы дорожим годами наработанной положительной репутацией нашей компании.
                                </p>
                                <p>
                                    Наш фактический и юридический адрес: 127473, г. Москва, ул. Краснопролетарская, д. 16, стр. 1, этаж 1, пом. X, комн. 13.
                                </p>
                                <p>
                                    Организационные документы: <a href="">Правила предоставления микрозаймов</a> и <a href="">Общие условия оформления займа</a>.
                                </p>
                                <p class="body18 bold-text">
                                    2.2 Как исправить кредитную историю, если она была испорчена из-за мошенников?
                                </p>
                                <p>
                                    Если ваша кредитная история была испорчена из-за действий мошенников, то по итогам обработки заявления в полицию в случае установления факта мошеннических действий
                                    на основании этого дела в Бюро кредитных историй направляется запрос. В нем содержится требование об исключении из истории пострадавшего записи, порочащей его
                                    репутацию по вине мошенников. Пожалуй, это единственный случай, при котором возможно изменение данных БКИ. Мы призываем вас ответственно относиться к взятым на себя
                                    долговым обязательствам.
                                </p>
                                <p class="body18 bold-text">
                                    2.3 Могу ли я доверять вам свои персональные данные?
                                </p>
                                <p>
                                    Защита персональных данных проходит по всем стандартам, установленным в законодательстве РФ. Персональные данные наших клиентов защищены по тем же принципам,
                                    которые используются в ведущих отечественных банках. Протоколы шифрования и выделенные каналы данных исключают вероятность утечек. Кроме того, при отсутствии
                                    уникальных ключей, расшифровка данных займет нецелесообразно много времени.
                                </p>
                                <p class="body18 bold-text">
                                    2.4 Что делать, если на меня оформили кредит без моего согласия?
                                </p>
                                <p>
                                    Если вы не оформляли заем, а вам поступил звонок от нашей компании о начислении штрафов за просрочку, то вам необходимо обратиться в отделение полиции с заявлением
                                    о факте мошенничества. Обратитесь в службу поддержки Kredito24 по телефону +7 495 225-90-63, сообщите о факте подачи заявления о мошенничестве в полицию и следуйте
                                    дальнейшим рекомендациям сотрудника. Звонки принимаются с 9:00 до 21:00 с понедельника по пятницу, указано Московское время.
                                </p>
                                <p>Для исключения подобных ситуаций мы рекомендуем своим клиентам внимательно относиться к персональным данным и не передавать их непроверенным лицам и
                                    организациям.</p>

                            </div>
                        </div>
                        <div class="item">
                            <div class="top">
                                <span class="h6">3. Возврат займа</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    3.1 Как я могу погасить заем?
                                </p>
                                <p>
                                    У клиентов нашей компании есть несколько способов погасить заем, в том числе как минимум один бесплатный согласно требованиям Центробанка:
                                </p>
                                <ul>
                                    <li>Через терминалы и платежную систему QIWI. <a href="">0% комиссии за перевод</a>.</li>
                                    <li>Через личный кабинет по кнопке “Погасить заем”. Списание происходит с карты, на которую был выслан заем. 2% комиссии за перевод. В последний день займа списание
                                        на сумму займа может пройти автоматически при условии наличия полной суммы средств на счету.
                                    </li>
                                    <li>Оплата банковским переводом на реквизиты компании. В случае перевода со счета Альфа-Банка или банка-партнера комиссия за операцию составит 0%. Информацию об
                                        условиях переводов со счетов других банков уточняйте в службах поддержки соответствующих организаций. Обратите внимание, что на осуществление межбанковского
                                        перевода может уходить до 3 операционных дней. Датой погашения считается дата поступления средств на счет компании.
                                    </li>
                                    <li>Оплата через сеть терминалов Элекснет. 2% комиссии за перевод.</li>
                                </ul>
                                <p class="body18 bold-text">
                                    3.2 Могу ли я погасить заем досрочно, если да, то как?
                                </p>
                                <p>
                                    <a href="">Досрочное погашение</a> возможно сделать в любой день на протяжении всего срока действия договора займа. Для этого первоначально вам необходимо уведомить
                                    нашу
                                    компанию о намерении досрочного погашения через электронную почту <a href="mailto:info@kredito24.ru">info@kredito24.ru</a> или по телефону службы поддержки +7 495
                                    225-90-63. Звонки принимаются с 9:00 до 21:00 с
                                    понедельника по пятницу, указано Московское время.
                                </p>
                                <p>
                                    После этого в течение 24 часов в вашем личном кабинете будет доступна кнопка “Погасить заем”. По умолчанию кнопка появляется за 3 дня до даты выплаты согласно
                                    договору.
                                </p>
                                <p>
                                    Кроме того, вы можете рассчитать сумму досрочного погашения и в тот же день отправить платеж через терминал QIWI. Просим учесть, что платежи, как правило, проходят
                                    мгновенно, однако на обработку погашения без уведомления может уйти до нескольких дней. В этом случае сумма платежа будет учтена и займ будет пересчитан на дату
                                    поступления средств на счет нашей компании.
                                </p>
                                <p class="body18 bold-text">
                                    3.3 Сколько я переплачу, если погашу заем досрочно?
                                </p>
                                <p>
                                    При досрочном погашении займов вы платите только за фактическое время пользования услугой. Если вы брали заем на 20 дней, а погасили его уже через 10, то проценты
                                    будут начислены только за 10 дней пользования займом.
                                </p>
                                <p>
                                    Обратите внимание, что при досрочном погашении в личном кабинете вам автоматически формируется платеж по состоянию на текущий день. Датой погашения при этом
                                    считается дата поступления денежных средств на наш счет. Как правило, это происходит мгновенно, однако возможны случаи задержек со стороны банков. Если деньги
                                    пришли, например, на следующий день, то погашение будет считаться частичным досрочным.
                                </p>
                                <p>
                                    Внимательно проверяйте статус задолженности, не забывайте что для Бюро кредитных историй имеет значение факт введения штрафных санкций, а не величина суммы
                                    задолженности.
                                </p>
                                <p class="body18 bold-text">
                                    3.4 Что делать, если я не могу погасить займ вовремя?
                                </p>
                                <p>
                                    Если у вас возникли сложности в погашении займа, то вы можете оформить продление займа в личном кабинете. Условия продления займа будут рассчитаны автоматически
                                    исходя из первоначальной суммы займа: комиссия на 7 дней составит 13,3%; на 15 дней - 28,5%; на 30 дней - 57%. Для пролонгации потребуется подписать договор
                                    продления. Для более детальной информации вы можете обратиться в Службу поддержки.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="top">
                                <span class="h6">4. Изменение информации</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    4.1 Как я могу закрыть свой личный кабинет, если я более не собираюсь пользоваться вашими услугами?
                                </p>
                                <p>
                                    Согласно действующему законодательству, вы можете отправить запрос в компанию с просьбой закрыть ваш личный кабинет. Для этого вам необходимо прислась на почту
                                    <a href="mailto:info@kredito24.ru ">info@kredito24.ru </a> селфи с паспортом и фото или скан копию заявления для блокировки (разблокировки) личного кабинета,
                                    написанного в свободной
                                    форме на имя Генерального директора ООО МФК “Монедо” Селиванова Д.С. В заявлении необходимо указать свои паспортные данные.
                                </p>
                                <p>
                                    Остались вопросы? Вы можете позвонить по телефону +7 495 225-90-63 с 9:00 до 21:00 с понедельника по пятницу, указано Московское время.
                                </p>
                                <p>
                                    Обращаем внимание, что личный кабинет не может быть закрыт, если существует действующий договор или есть задолженность. Процедура станет доступна только после
                                    погашения долга или окончания действия договора займа.
                                </p>
                                <p class="body18 bold-text">
                                    4.2 Я сменил паспорт (банковскую карту, фамилию), как мне обновить данные в личном кабинете?
                                </p>
                                <p>
                                    Если ваши персональные данные устарели, например, по причине замены утерянных документов, то перед отправкой заявки через личный кабинет вам необходимо отправить
                                    новые данные вместе с необходимыми копиями документов по почте <a href="mailto:document@kredito24.ru">document@kredito24.ru</a>.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="top">
                                <span class="h6">5. Общие вопросы</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    5.1 Почему у меня нет личного кабинета, если я уже брал займ в Kredito24?
                                </p>
                                <p>
                                    Уважаемые клиенты, если вы оформляли займ до 1 февраля 2020 года или у вас не было открытого займа на 1 февраля 2020 года, чтобы получить новый или очередной заем,
                                    пожалуйста, заполните анкету на главной странице. Повторные клиенты, как обычно, получат максимальную вероятность одобрения.
                                </p>
                                <p class="body18 bold-text">
                                    5.2 Зачем мне банковская карта, если есть виртуальная карта QIWI?
                                </p>
                                <p>
                                    Для оформления займа вам обязательно потребуется именная банковская карта платежных систем Visa, MasterCard или МИР, выпущенная российским банком. Именная карта
                                    является дополнительным способом идентификации клиента, а также наличия у него активного банковского счета для перевода денег после одобрения займа. Виртуальные
                                    карты при оформлении заявки не принимаются.
                                </p>

                                <p class="body18 bold-text">
                                    5.3 Какая ежедневная и годовая процентная ставка по займу?
                                </p>

                                <p>Для клиентов, которые оформили займ после 1.07.2019 включительно ежедневная ставка составляет 1%, годовая – 365%.</p>
                                <p>Для клиентов, которые оформили займ после 28.01.2019 и до 30.06.2019 включительно ежедневная ставка составляет 1,5%, годовая – 547,5%.</p>
                                <p>Для клиентов, которые оформили займ после 1.12.2018 и до 27.01.2019 включительно ежедневная ставка составляет 2,15%, годовая – 784,75%.</p>
                                <p>Для клиентов, которые оформили займ до 30.11.2018 включительно ежедневная ставка составляет 1,9%, годовая – 693,5%.</p>

                                <p class="body18 bold-text">
                                    5.4 Какие карты не принимаются?
                                </p>
                                <p>
                                    Для оформления заявки не подойдут следующие виды карт:
                                </p>
                                <ul>
                                    <li>Виртуальные и неименные (без имени владельца) карты.</li>
                                    <li>Карты банков Qiwi, Round bank, Кредит Юнион, Связной, Почта Банк.</li>
                                    <li>Карты Electron и Maestro (без CVV2 кода на обороте карты).</li>
                                </ul>

                                <p class="body18 bold-text">
                                    5.5 Какой должна быть банковская карта?
                                </p>
                                <ul>
                                    <li>С прописанными фамилией и именем владельца.</li>
                                    <li>Платежные системы: Visa, MasterCard или МИР.</li>
                                    <li>На счету карты должно быть доступно не менее 10 рублей.</li>
                                    <li>Номер карты состоит из 16 цифр.</li>
                                </ul>

                                <p class="body18 bold-text">
                                    5.6 Почему мне стоит обратиться именно в Kredito24?
                                </p>
                                <p>
                                    Минимум документов, быстрое решение, быстрые выплаты. При повторных обращениях выдача займа происходит еще быстрее. Корректировать данные анкеты необходимо только в
                                    случае их изменений, например при замене паспорта, а также ежегодно подтверждать номер СНИЛС.
                                </p>
                                <p>
                                    Вы будете всегда в курсе наших последних новостей. Мы напомним вам, когда следует пойти и обновить паспорт согласно закону РФ, а также о том, что срок действия
                                    вашей карты подходит к концу и вам необходимо ее или перевыпустить, или зарегистрировать новую в нашей системе.
                                </p>

                                <p class="body18 bold-text">
                                    5.7 Что такое скриншот и как его делать?
                                </p>
                                <p>
                                    Скриншот – изображение, которое является снимком экрана и всех видимых на нем элементов. Нажатием клавиши PrtScr вы копируете в буфер обмена картинку, на которой
                                    будет ровно то, что вы видите на экране в момент нажатия.
                                </p>
                                <p>
                                    Делаем скриншот и сохраняем его:
                                </p>
                                <ul>
                                    <li>Нажмите клавишу PrtScr. Стандартно на клавиатуре она располагается в правой верхней части близ кнопок Delete, Insert и других.</li>
                                    <li>Откройте программу Paint, которая есть в каждом Windows и доступна через Пуск в разделе “Стандартные”.</li>
                                    <li>Одновременно нажмите сочетание клавиш Ctrl+V. Изображение должно вставиться в рабочее поле.</li>
                                    <li>Сохраните изображение на жестком диске, нажав кнопку Сохранить</li>
                                </ul>
                                <p class="body18 bold-text">
                                    5.8 Как правильно оформить официальное обращение в компанию
                                </p>
                                <p>
                                    Обращение получателя финансовой услуги должно содержать в отношении получателя финансовой услуги, являющегося физическим лицом, фамилию, имя, отчество (при
                                    наличии), адрес (почтовый или электронный) в соответствии с пунктом 1 настоящей статьи, для направления ответа на обращение; в отношении получателя финансовой
                                    услуги, являющегося юридическим лицом, полное наименование и место нахождения юридического лица, а также подпись уполномоченного представителя юридического лица.
                                </p>
                                <p>
                                    Микрофинансовая организация обязана довести до сведения получателей финансовых услуг рекомендацию по включению в обращение следующей информации и документов (при их
                                    наличии): 1) номер договора, заключенного между получателем финансовой услуги и микрофинансовой организацией; 2) изложение существа требований и фактических
                                    обстоятельств, на которых основаны заявленные требования, а также доказательства, подтверждающие эти обстоятельства; 3) наименование органа, должности, фамилии,
                                    имени и отчества (при наличии) работника микрофинансовой организации, действия (бездействие) которого обжалуются; 4) иные сведения, которые получатель финансовой
                                    услуги считает необходимым сообщить; 5) копии документов, подтверждающих изложенные в обращении обстоятельства. В этом случае в обращении приводится перечень
                                    прилагаемых к нему документов.
                                </p>

                            </div>
                        </div>
                        <div class="item">
                            <div class="top">
                                <span class="h6">6. Получение займа</span>
                                <img src="/img/icons/arrow-down.svg" alt="">
                            </div>
                            <div class="content">
                                <p class="body18 bold-text">
                                    6.1 В каких городах я могу взять займ?
                                </p>
                                <p>
                                    Kredito24 предлагает свои услуги для всех граждан РФ, находящихся в любом месте на территории страны. Определение геолокации уточняется в процессе заполнения
                                    заявки. Во избежание ошибок рекомендуем во всплывающем окне разрешить доступ нашим службам к данным вашей геолокации, предварительно выключив VPN сервисы и
                                    убедившись, что ваш IP относится к России.
                                </p>
                                <p class="body18 bold-text">
                                    6.2 Как получить одобрение на максимальную сумму?
                                </p>
                                <p>
                                    Шансы на одобрение максимальной суммы растут с каждым займом в нашей компании при условии отсутствия случаев просрочек платежей. Как правило, беря третий или
                                    четвертый заем, наши добросовестные клиенты могут рассчитывать на максимальную сумму. Кроме того, уже с третьего займа существенно ускоряется процесс принятия
                                    решения и выдачи при условии аккуратного соблюдения условий договора.
                                </p>

                                <p class="body18 bold-text">
                                    6.3 Как я могу взять второй займ?
                                </p>

                                <p>Оформление второго, третьего и последующих займов осуществляется через личный кабинет только, если у вас нет активных займов.</p>
                                <p>Просто выберите сумму и срок займа в соответствующем разделе. После отправки заявки в случае одобрения ознакомьтесь с персональными условиями. Согласие с положениями
                                    договора вы выражаете цифровой подписью в форме кода, отправленного на ваш телефон в виде СМС-сообщения. После подписания деньги автоматически высылаются на счет
                                    вашей банковской карты.</p>

                                <p class="body18 bold-text">
                                    6.4 Как я могу подать заявку на заем по телефону?
                                </p>
                                <p>
                                    Подать заявку в Kredito24 вы можете только через интернет. Заявки по телефону могут быть оформлены только после представления согласно действующему законодательству
                                    Российской Федерации в отношении деятельности микрофинансовых организаций.
                                </p>
                                <p>
                                    Если это первый заем, начните оформление с запроса суммы на главной странице. В случае повторного обращения, просто войдите в личный кабинет. Не забудьте, что
                                    если ваши персональные данные поменялись с последнего визита, вам следует обновить их, направив копии по адресу <a href="mailto:document@kredito24.ru">document@kredito24.ru</a>.
                                </p>

                                <p class="body18 bold-text">
                                    6.5 Как я узнаю статус своего займа?
                                </p>
                                <p>
                                    Вся необходимая информация по вашему займу всегда доступна в личном кабинете на нашем сайте. Если по какой-либо причине у вас нет доступа в интернет, то вы можете
                                    уточнить интересующие вас моменты по телефону +7 495 225-90-63 с 9:00 до 21:00 с понедельника по пятницу, указано Московское время.
                                </p>

                                <p class="body18 bold-text">
                                    6.6 Какая сумма займа мне доступна?
                                </p>
                                <p>
                                    Если это ваш первый займ в Kredito24, то выберите нужную вам сумму и получите ее в случае одобрения. Если запрошенную сумму не одобрят, то вам может быть предложено
                                    несколько альтернативных вараинтов. В следующий раз вы сможете запрашивать сумму больше.
                                </p>

                                <p class="body18 bold-text">
                                    6.7 Когда я могу взять новый займ, если я выплатил прошлый?
                                </p>
                                <p>
                                    Как только в вашем личном кабинете обновится информация о погашении предыдущего займа, у вас сразу появится возможность оформления нового. Как правило, данные будут
                                    обновлены не позже, чем через сутки после зачисления средств для погашения задолженности на наш счет.
                                </p>

                                <p class="body18 bold-text">
                                    6.8 Когда я получу деньги?
                                </p>
                                <p>
                                    После заполнения анкеты автоматической системой будет рассмотрена ваша заявка. Это займет немного времени. В случае спорной ситуации, заявка будет направлена на
                                    ручную обработку специалистом, который свяжется с вами.
                                </p>
                                <p>
                                    Если заем одобрен, то деньги будут отправлены сразу после отправки копий электронных копий документов и завершения оформления займа. На вашем счету они окажутся
                                    сразу после обработки операции вашим банком. Как правило, это происходит почти мгновенно.
                                </p>
                                <p class="body18 bold-text">
                                    6.9 Код подтверждения не приходит, что делать?
                                </p>
                                <p>
                                    На ваш телефон код в формате СМС отправляется автоматически. Если вы не получили сообщение, попробуйте проверить состояние сети и перезагрузить устройство. Если
                                    после этого сообщение не поступило, то попробуйте запросить пароль еще раз. Обратите внимание, что если ваш IP не принадлежит России, то запросы на отправку
                                    сообщений могут отклоняться: перед повторным запросом убедитесь, что у вас выключены VPN службы.
                                </p>
                                <p>
                                    Если после этого на протяжении 5 минут СМС не поступит, обратитесь к вашему мобильному оператору, чтобы уточнить причину перебоев доставки СМС-сообщений.
                                </p>
                                <p>
                                    В случае, если ничего из описанного выше не помогло, обратитесь в нашу службу поддержки, написав на почту <a href="mailto:info@kredito24.ru">info@kredito24.ru</a>
                                    или позвонив по телефону +7 495 225-90-63 с 9:00 до
                                    21:00 с понедельника по пятницу, указано Московское время.
                                </p>
                                <p class="body18 bold-text">
                                    6.10 Могу ли я подать заявку на микрозайм ночью или в выходные дни?
                                </p>
                                <p>
                                    Вы можете подать заявку в любое время. Если вы новый клиент, то для заключения договора потребуется проверка отправленных документов, которая будет произведена в
                                    первой половине следующего рабочего дня. Для клиентов компании, которые уже брали займ ранее, выплата запрашиваемых средств в случае одобрения последует сразу после
                                    подписания договора в автоматическом режиме вне зависимости от дня недели и времени суток.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="interior-mobile">
                    <button class="see-more">Показать больше</button>
                </div>
            </div>
            <div class="interior-calc">
                <div class="calculator calculator-small" data-settings='{"default":{"price":10000,"term":29},"values":{"minPrice":2000,"maxPrice":15000,"minTerm":16,"maxTerm":30}}' id="calculator">
                    <form action="" id="calculator-form">
                        <h4 class="h4 text-align-center margin-bottom">Получите деньги за 15 минут</h4>

                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">Хочу взять</span>
                                <div class="input-wrap">
                                    <input class="input-money" id="calculator-input" type="text">
                                    <input class="input-money" id="calculator-range-value" hidden type="text">
                                    <span>₽</span>
                                </div>
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_sum_range" type="text" value=""/>
                        </div>
                        <div class="calculator-item">
                            <div class="top">
                                <span class="text">На срок</span>
                                <span id="calculator-term">29 дней</span>
                                <input hidden id="calculator-term-input" type="text">
                            </div>
                            <div class="calculator-min">1 год</div>
                            <div class="calculator-max">30 лет</div>
                            <input class="js-range-slider" name="mortgage_term_range" type="text" value=""/>
                        </div>
                        <button class="button" type="submit">Получить деньги</button>

                        <div class="calculator-summary">
                            <div class="item">
                                <span>Сумма займа</span>
                                <span id="calculator-sum-get">10 000 ₽</span>
                                <input type="text" id="calculator-sum-get__input" hidden>
                            </div>
                            <div class="item">
                                <span>Срок</span>
                                <span id="calculator-sum-term">29 дней</span>
                                <input type="text" id="calculator-sum-term__input" hidden>
                            </div>
                            <div class="item">
                                <span>Сумма к погашению</span>
                                <span id="calculator-sum-total">12 900 ₽</span>
                                <input type="text" id="calculator-sum-total__input" hidden>
                            </div>
                            <div class="item">
                                <span>До</span>
                                <span id="calculator-sum-date">25.11.2020</span>
                                <input type="text" id="calculator-sum-date__input" hidden>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>


<%= _.template(require('./../includes/footer.html').default)(data) %>
