.preloader {
    position: fixed;
    top: 0;
    left: 0;
    background: $colorGrayLight;
    width: 100%;
    height: 100%;
    z-index: 99999;
    &.preloader-hide {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.link-with-icon {
    display: flex;
    align-items: center;
    color: $colorText;
    font-size: 16px;
    line-height: 24px;
    transition: .1s ease;
    img {
        display: block;
        max-width: 17px;
    }
    span {
        display: inline-block;
        margin-left: 7px;
        &.gray {
            color: $colorGrayMiddle;
        }
    }
}
.link-with-icon + .link-with-icon {
    margin-left: 26px;
}

.tab-block {
    display: none;
    &.active {
        display: block;
    }
}
