$fontBase: 'Source Sans Pro', Arial, sans-serif;



$colorWhite: #fff;
$colorText: #1D2B3F;
$colorOrange: #F7A72F;
$colorBlue: #0184D4;
$colorBlueDark: #195491;
$colorGray: #B9BDC2;
$colorGrayLight: #F3F5F7;
$colorGrayMiddle: #717883;


